In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.sparse
pd.set_option("display.max_columns",101)
RANDOM_STATE = 42

In [2]:
DATA_PATH = "../data/instacart/"

In [3]:
def save_sparse_matrix(filename, x):
    x_coo = x.tocoo()
    row = x_coo.row
    col = x_coo.col
    data = x_coo.data
    shape = x_coo.shape
    np.savez(filename, row=row, col=col, data=data, shape=shape)

def load_sparse_matrix(filename):
    y = np.load(filename)
    z = scipy.sparse.coo_matrix((y['data'], (y['row'], y['col'])), shape=y['shape'])
    return z

save_file = DATA_PATH + "user_item.npz"

In [4]:
load_S = load_sparse_matrix(save_file)
user_item_matrix = scipy.sparse.csr_matrix(load_S)

#### inverse_matrix

#### implement simple LFM model

In [275]:
item_pool = range(0, load_S.shape[1])

def random_select_negative_sample(items):
    import random
    ret = {}
    
    result = sum(items.values())
    for item, value in items.iteritems():
        ret[item] = value / float(result)
    
    n = 0
    for i in xrange(3 * len(items)):
        item = item_pool[random.randint(0, len(item_pool) - 1)]
        
        if item in items:
            continue
        
        ret[item] = 0
        
        n += 1
        if n >= len(items):
            break
    return ret

In [249]:
ret = random_select_negative_sample({1: 2, 2: 3})

In [250]:
ret

{1: 0.4, 2: 0.6, 3939: 0, 37818: 0}

In [79]:
xx = user_item_matrix.todok()

In [82]:
print xx.shape

(206209, 49677)

In [84]:
for i in xx.iteritems():
    print i 
    break

((84520, 6101), 4)

In [85]:
len(list(xx.iteritems()))

13307953

In [92]:
dok_matrix = user_item_matrix.todok()

In [95]:
def make_user_item_dict(X):
    from collections import defaultdict
    result = defaultdict(dict)
    for user_item, value in dok_matrix.iteritems():
        user_id, item_id = user_item
        result[user_id][item_id] = value
    return result

In [ ]:
user_items = make_user_item_dict(dok_matrix)

In [253]:
u_items = user_items.items()

#### tuning the parameter, because parameter is too small, C should be larger

In [288]:
def LatentFactorModel(ui_data, n_factor, n_step, alpha, C):
    num_user, num_item = user_item_matrix.shape
    P_uk = np.ones((num_user, n_factor)) / float(n_factor)
    Q_ik = np.ones((num_item, n_factor)) / float(n_factor)
    for step in xrange(n_step):
        num_error = 0
        i = 0
        for user_id, items in ui_data.iteritems():
            i += 1
            if i % 10000 == 0:
                print 'count user:', i
            samples = random_select_negative_sample(items)
            for item_id, value in samples.iteritems():
                E_ui = value - P_uk[user_id, :].dot(Q_ik[item_id, :].transpose())
                old_error = E_ui * E_ui
                P_uk[user_id, :] = P_uk[user_id, :] + alpha * (Q_ik[item_id, :] * E_ui - C * P_uk[user_id, :])
                Q_ik[item_id, :] = Q_ik[item_id, :] + alpha * (P_uk[user_id, :] * E_ui - C * Q_ik[item_id, :])
                new_error = (value - P_uk[user_id, :].dot(Q_ik[item_id, :].transpose())) ** 2
                
                num_error += new_error
        alpha *= 0.9
    
        print "step:", step, "error:", num_error
    return P_uk, Q_ik

test_item = dict(u_items[:10000])
P, Q = LatentFactorModel(user_items, 10, 1, 0.5, 0.1)

count user: 10000
count user: 20000
count user: 30000
count user: 40000
count user: 50000
count user: 60000
count user: 70000
count user: 80000
count user: 90000
count user: 100000
count user: 110000
count user: 120000
count user: 130000
count user: 140000
count user: 150000
count user: 160000
count user: 170000
count user: 180000
count user: 190000
count user: 200000
step: 0 error: 10181.4843422

In [260]:
df = pd.DataFrame(P)

In [289]:
q_df = pd.DataFrame(Q)
q_df.describe()

,0,1,2,3,4,5,6,7,8,9
count,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04,4.967700e+04
mean,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04,7.514803e-04
std,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03,2.000601e-03
min,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11,1.679865e-11
25%,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05,1.349424e-05
50%,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04,1.477994e-04
75%,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04,7.121548e-04
max,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02,9.810913e-02

#### Accoring to P and Q, we try to calculate result

In [294]:
orders = pd.read_csv(DATA_PATH + "orders.csv")

#### Get train use-item_list

In [295]:
train = pd.read_csv(DATA_PATH + "order_products__train.csv")

In [296]:
train_order_user = pd.merge(train, orders, on='order_id')

In [297]:
train_user_products = pd.DataFrame(train_order_user.groupby('user_id')['product_id'].apply(list))

In [298]:
train_user_products.head()

                                                product_id
user_id
1        [196, 25133, 38928, 26405, 39657, 10258, 13032...
2        [22963, 7963, 16589, 32792, 41787, 22825, 1364...
5        [15349, 19057, 16185, 21413, 20843, 20114, 482...
7        [12053, 47272, 37999, 13198, 43967, 40852, 176...
8        [15937, 5539, 10960, 23165, 22247, 4853, 27104...

In [301]:
prior = pd.read_csv(DATA_PATH + "order_products__prior.csv")
order_user = pd.merge(prior, orders, on='order_id')
prior_user_products = pd.DataFrame(order_user.groupby('user_id')['product_id'].apply(list))
def cal_dict(x):
    from collections import Counter
    a = Counter(x)
    return dict(a)

prior_user_products_dict = pd.DataFrame(prior_user_products['product_id'].apply(cal_dict))
product_id_list = np.unique(order_user.product_id)
product_id_dict = {}
for idx, product_id in enumerate(product_id_list):
    product_id_dict[product_id] = idx
    
user_id_list = np.unique(order_user.user_id)
user_id_dict = {}
for idx, user_id in enumerate(user_id_list):
    user_id_dict[user_id] = idx

In [321]:
train_user_products_dict.product_id

user_id
1         {27845: 1, 196: 1, 26405: 1, 13032: 1, 39657: ...
2         {48523: 1, 24838: 1, 13640: 1, 11913: 1, 45066...
5         {40706: 1, 21413: 1, 20843: 1, 48204: 1, 21616...
7         {17638: 1, 29894: 1, 47272: 1, 45066: 1, 13198...
8         {15937: 1, 37803: 1, 41540: 1, 21903: 1, 10960...
9         {17600: 1, 8834: 1, 42347: 1, 27973: 1, 27596:...
10                 {48720: 1, 10177: 1, 29650: 1, 24654: 1}
13        {27086: 1, 4210: 1, 27435: 1, 47078: 1, 19934: 1}
14        {3808: 1, 11042: 1, 15172: 1, 29509: 1, 8744: ...
17        {12720: 1, 1217: 1, 4374: 1, 18534: 1, 43352: ...
18        {8518: 1, 22888: 1, 5450: 1, 25997: 1, 11022: ...
21        {32645: 1, 16615: 1, 44632: 1, 12683: 1, 25740...
23        {8224: 1, 42372: 1, 33797: 1, 32327: 1, 13544:...
24                                               {31222: 1}
27        {11777: 1, 44932: 1, 45446: 1, 32263: 1, 12745...
29        {39170: 1, 20874: 1, 37645: 1, 49615: 1, 20305...
30                                               {23288: 1}
34        {38273: 1, 7054: 1, 24852: 1, 27845: 1, 27086: 1}
37        {41665: 1, 2243: 1, 43014: 1, 26790: 1, 26369:...
38        {3397: 1, 36550: 1, 48205: 1, 21198: 1, 27086:...
41        {25890: 1, 24964: 1, 18727: 1, 20520: 1, 3661:...
42        {30353: 1, 8866: 1, 22795: 1, 28198: 1, 9290: ...
43        {11777: 1, 41602: 1, 33027: 1, 46981: 1, 35079...
44        {48833: 1, 35124: 1, 9225: 1, 49481: 1, 35852:...
46        {24097: 1, 24852: 1, 13733: 1, 42987: 1, 4605:...
47        {8224: 1, 43504: 1, 16594: 1, 33796: 1, 30696:...
48        {34209: 1, 25890: 1, 36389: 1, 34358: 1, 41229...
49        {18118: 1, 34329: 1, 18441: 1, 27199: 1, 7644:...
50        {13176: 1, 6182: 1, 16249: 1, 31720: 1, 47209:...
52        {30720: 1, 14032: 1, 46149: 1, 24135: 1, 39275...
                                ...
206159                                            {5479: 1}
206162    {25504: 1, 43234: 1, 45447: 1, 39370: 1, 27086...
206164                                   {890: 1, 40742: 1}
206165    {43329: 1, 13829: 1, 10895: 1, 14648: 1, 24852...
206167    {32768: 1, 29382: 1, 24135: 1, 49481: 1, 7821:...
206169                       {37464: 1, 20876: 1, 16797: 1}
206170    {20512: 1, 2064: 1, 22275: 1, 40470: 1, 1958: ...
206171    {32935: 1, 26165: 1, 49653: 1, 40902: 1, 36351...
206172                       {16848: 1, 24658: 1, 13790: 1}
206174    {18370: 1, 23926: 1, 17191: 1, 13512: 1, 35221...
206175    {11520: 1, 44514: 1, 24489: 1, 47626: 1, 25931...
206176    {258: 1, 41398: 1, 28920: 1, 9290: 1, 21709: 1...
206177    {46979: 1, 10132: 1, 311: 1, 24852: 1, 33754: ...
206178    {44449: 1, 36322: 1, 30953: 1, 35914: 1, 11755...
206181    {27554: 1, 23044: 1, 30391: 1, 33316: 1, 24852...
206184                                           {37442: 1}
206185    {9088: 1, 24097: 1, 24291: 1, 14852: 1, 5192: ...
206186    {20049: 1, 14891: 1, 39190: 1, 41290: 1, 2091:...
206188    {6473: 1, 24970: 1, 28427: 1, 10573: 1, 44560:...
206190    {40706: 1, 46979: 1, 20549: 1, 8518: 1, 47209:...
206191    {10880: 1, 24964: 1, 24838: 1, 24009: 1, 37646...
206193    {27104: 1, 3376: 1, 12756: 1, 28842: 1, 46906:...
206195    {3376: 1, 13893: 1, 18598: 1, 47209: 1, 39275:...
206196    {26209: 1, 39947: 1, 31717: 1, 7206: 1, 35547:...
206198    {15937: 1, 47107: 1, 23909: 1, 2380: 1, 44683:...
206199    {8898: 1, 38341: 1, 38855: 1, 18952: 1, 6701: ...
206200    {33089: 1, 34243: 1, 21709: 1, 21137: 1, 46979...
206203    {36929: 1, 14050: 1, 37188: 1, 31915: 1, 15693...
206205    {17600: 1, 24772: 1, 27845: 1, 1158: 1, 28745:...
206209    {15655: 1, 42606: 1, 39216: 1, 24852: 1, 37966...
Name: product_id, dtype: object

In [320]:
prior_user_products_dict.product_id

user_id
1         {196: 10, 46149: 3, 12427: 10, 38928: 1, 10258...
2         {38656: 1, 34688: 3, 40198: 2, 45066: 3, 2573:...
3         {17668: 5, 47766: 9, 44683: 2, 21903: 8, 14992...
4         {21573: 1, 35469: 2, 37646: 1, 26576: 1, 43704...
5         {11777: 4, 40706: 2, 8518: 2, 48775: 1, 18761:...
6         {40992: 1, 27521: 1, 20323: 1, 48679: 1, 8424:...
7         {11520: 1, 35333: 2, 519: 2, 10504: 1, 45066: ...
8         {11136: 1, 8193: 1, 17794: 3, 39812: 1, 24838:...
9         {8834: 2, 12075: 1, 38277: 2, 30252: 2, 5002: ...
10        {28928: 1, 36865: 2, 40706: 3, 20995: 1, 260: ...
11        {17794: 1, 8197: 1, 30855: 1, 33037: 1, 30480:...
12        {11520: 1, 45056: 1, 17794: 1, 44422: 1, 17159...
13        {41926: 1, 41351: 2, 41480: 1, 37385: 1, 31372...
14        {8193: 1, 17923: 2, 18439: 1, 45066: 1, 34827:...
15        {11266: 10, 37059: 1, 196: 5, 10441: 8, 48142:...
16        {15872: 1, 28289: 1, 17794: 2, 43014: 2, 651: ...
17        {5128: 5, 38444: 1, 40203: 6, 19468: 2, 30992:...
18        {2826: 1, 25997: 1, 34126: 1, 22031: 2, 29328:...
19        {27138: 3, 30123: 3, 21001: 1, 41483: 1, 19468...
20        {41400: 2, 13914: 3, 13575: 4, 6184: 3, 22362:...
21        {15618: 1, 22275: 1, 21508: 1, 38444: 1, 16139...
22        {39040: 1, 17794: 3, 24964: 4, 7948: 2, 21903:...
23        {42372: 1, 22021: 1, 43014: 1, 4235: 1, 47504:...
24        {35652: 1, 46473: 1, 37687: 1, 44172: 2, 10509...
25        {1216: 1, 27521: 1, 21506: 1, 26756: 1, 278: 1...
26        {30592: 4, 49157: 1, 31130: 1, 32607: 1, 13219...
27        {44548: 1, 32263: 4, 45066: 2, 16398: 5, 4952:...
28        {40706: 2, 23044: 4, 21513: 6, 47626: 5, 41483...
29        {39170: 17, 33027: 5, 10500: 1, 19205: 1, 3764...
30        {6184: 1, 45128: 1, 21386: 5, 38300: 2, 23288:...
                                ...
206180    {5250: 5, 35734: 1, 45066: 13, 43789: 1, 38288...
206181    {33792: 1, 23044: 4, 43789: 2, 22290: 2, 24852...
206182    {39170: 2, 43307: 1, 35845: 1, 21512: 1, 22034...
206183    {19904: 1, 17284: 1, 260: 1, 13708: 2, 27663: ...
206184    {11136: 2, 1025: 1, 24964: 1, 24838: 1, 38273:...
206185    {31744: 1, 14379: 1, 14852: 1, 34134: 3, 35206...
206186    {9346: 2, 39619: 1, 13380: 2, 4421: 1, 44359: ...
206187    {11777: 1, 7175: 2, 10248: 2, 37646: 8, 3599: ...
206188    {260: 1, 40709: 1, 26250: 2, 44560: 2, 24852: ...
206189    {35140: 1, 24456: 2, 42508: 1, 48204: 1, 13709...
206190    {1025: 5, 40706: 2, 46979: 1, 28676: 1, 45965:...
206191    {46720: 1, 10880: 1, 40706: 1, 16131: 1, 24964...
206192    {23744: 2, 46699: 1, 11281: 2, 24852: 7, 6550:...
206193    {8193: 1, 26629: 1, 36872: 3, 18441: 1, 14858:...
206194    {16384: 3, 35842: 1, 47626: 1, 31504: 1, 43961...
206195    {28289: 1, 35333: 1, 8193: 2, 48523: 2, 19982:...
206196    {26369: 2, 40706: 2, 24964: 1, 2309: 1, 28934:...
206197    {40194: 1, 24195: 1, 24964: 4, 37765: 1, 30657...
206198    {25861: 2, 35209: 1, 12938: 1, 8203: 1, 40386:...
206199    {18952: 2, 37387: 3, 27012: 1, 17426: 7, 7702:...
206200    {14084: 1, 17878: 10, 47626: 3, 37646: 10, 443...
206201    {18432: 1, 1025: 2, 44548: 1, 45574: 1, 44375:...
206202    {260: 1, 28934: 2, 45066: 1, 5390: 3, 49683: 6...
206203    {34049: 2, 3075: 1, 13829: 1, 10246: 1, 26369:...
206204    {30720: 1, 17794: 1, 20995: 1, 17878: 1, 30855...
206205    {49235: 1, 20995: 1, 27845: 3, 28745: 1, 37067...
206206    {16896: 1, 44033: 1, 18434: 2, 16387: 2, 21508...
206207    {20995: 4, 9477: 1, 18441: 1, 47626: 1, 39180:...
206208    {1025: 1, 20995: 14, 47626: 5, 8203: 1, 5133: ...
206209    {40534: 2, 26634: 1, 13838: 2, 11791: 1, 24852...
Name: product_id, dtype: object

In [303]:
def cal_dict(x):
    from collections import Counter
    a = Counter(x)
    return dict(a)

train_user_products_dict = pd.DataFrame(train_user_products['product_id'].apply(cal_dict))

#### Accoring to train_data, calculate the threshold for all provided data

In [306]:
train_user_products_dict.product_id

user_id
1         [196, 25133, 38928, 26405, 39657, 10258, 13032...
2         [22963, 7963, 16589, 32792, 41787, 22825, 1364...
5         [15349, 19057, 16185, 21413, 20843, 20114, 482...
7         [12053, 47272, 37999, 13198, 43967, 40852, 176...
8         [15937, 5539, 10960, 23165, 22247, 4853, 27104...
9         [27555, 42347, 27596, 8834, 26604, 12075, 8467...
10                             [29650, 48720, 24654, 10177]
13                       [27435, 27086, 4210, 47078, 19934]
14        [11042, 32115, 28601, 29615, 15869, 37434, 380...
17                 [18534, 1217, 12720, 16797, 43352, 4374]
18        [36216, 47546, 21137, 5450, 8518, 22031, 22888...
21               [25740, 12683, 44632, 10957, 32645, 16615]
23        [13544, 42372, 33819, 33797, 20468, 13481, 822...
24                                                  [31222]
27        [2966, 21386, 11777, 21137, 4920, 46906, 33754...
29        [39170, 20305, 6128, 19541, 35385, 48800, 3980...
30                                                  [23288]
34                       [27845, 24852, 38273, 7054, 27086]
37        [21616, 41665, 5134, 26790, 43014, 12204, 2636...
38        [27231, 9366, 27086, 4799, 2086, 27509, 18337,...
41        [25890, 15290, 4605, 24964, 43961, 18727, 248,...
42          [28198, 13187, 22795, 39275, 9290, 8866, 30353]
43        [24852, 16797, 1330, 35079, 29429, 23909, 3856...
44                [49481, 48833, 43886, 9225, 35124, 35852]
46                [24852, 42987, 24097, 4605, 21781, 13733]
47                [33796, 16594, 29181, 8224, 30696, 43504]
48        [22993, 38277, 45007, 36695, 44636, 36389, 343...
49                [36591, 7644, 18441, 18118, 27199, 34329]
50                [6182, 47209, 13176, 16249, 21903, 31720]
52        [46149, 3798, 24135, 16797, 43352, 14032, 3927...
                                ...
206159                                               [5479]
206162    [45447, 43234, 29565, 39370, 14740, 25504, 270...
206164                                         [40742, 890]
206165    [14648, 39160, 13829, 6277, 17568, 31134, 4764...
206167    [30422, 24135, 27796, 45751, 45149, 24852, 177...
206169                                [20876, 37464, 16797]
206170       [8153, 2064, 11432, 1958, 20512, 22275, 40470]
206171                  [26165, 32935, 49653, 40902, 36351]
206172                                [16848, 24658, 13790]
206174    [23926, 18370, 17191, 35221, 23765, 13512, 211...
206175    [25931, 46847, 20734, 47766, 47626, 24489, 445...
206176              [21709, 37709, 28920, 41398, 258, 9290]
206177             [21903, 46979, 33754, 24852, 10132, 311]
206178    [7628, 19678, 1999, 28985, 44987, 890, 44449, ...
206181    [24852, 10840, 30135, 30391, 27554, 23044, 333...
206184                                              [37442]
206185    [9088, 24291, 40153, 24835, 28427, 20191, 2409...
206186     [2091, 25466, 41290, 14891, 39190, 36412, 20049]
206188    [12078, 44560, 33894, 35898, 21137, 36186, 310...
206190    [47209, 8518, 40706, 21616, 20549, 4614, 12478...
206191    [24838, 27104, 35221, 28849, 24964, 48679, 229...
206193             [12756, 9741, 46906, 27104, 28842, 3376]
206195            [39275, 47209, 18598, 3376, 16797, 13893]
206196    [46802, 24852, 28849, 18027, 39947, 44632, 262...
206198    [29615, 23909, 15359, 23180, 2380, 39021, 2170...
206199    [29429, 8898, 6128, 6701, 38855, 38341, 43821,...
206200    [22828, 13176, 39190, 34243, 8174, 27451, 1559...
206203    [15693, 37188, 21469, 41007, 2482, 14050, 2638...
206205    [27845, 21137, 28745, 22035, 24852, 46886, 314...
206209    [6846, 9405, 24852, 40603, 15655, 42606, 37966...
Name: product_id, dtype: object

In [314]:
def predict(train_dict, P_uk, Q_ik, user_dict, item_dict):
    from collections import defaultdict
    result = defaultdict(dict)
    for x in train_dict['product_id'].iteritems():
        user_id, product_dict = x[0], x[1]
        for product_id, num in product_dict.iteritems():
            if product_id not in item_dict:
                continue
            user_idx = user_dict[user_id]
            item_idx = item_dict[product_id]
            result[user_id][product_id] = P_uk[user_idx, :].dot(Q_ik[item_idx, :].transpose())
    return result

In [352]:
train_result = predict(prior_user_products_dict, P, Q, user_id_dict, product_id_dict)

In [353]:
def normalize(data):
    result = {}
    for user_id, product_dict in data.iteritems():
        cnt = sum(product_dict.values())
        result[user_id] = {}
        for product_id, value in product_dict.iteritems():
            result[user_id][product_id] = value / cnt
    return result

normal_data = normalize(train_result)

In [354]:
def score_f(predict_list, product_list):
    recall = 0
    precision = 0
    
    same_one = 0
    for product_id in predict_list:
        if product_id in product_list:
            same_one += 1
    
    if len(predict_list) == 0:
        return 0
    
    recall = float(same_one) / len(product_list)
    precision = float(same_one) / len(predict_list)
    
    if recall == 0 and precision == 0:
        return 0
    
    return 2 * (recall * precision) / (recall + precision)

In [330]:
def cal_result(norm_data, train_dict, theshold):
    f_score = 0
    for x in train_dict['product_id'].iteritems():
        user_id, product_dict = x[0], x[1]
        
        product_list = list(product_dict.keys())
        predict_dict = normal_data[user_id]
        predict_list = []
        for key, value in predict_dict.iteritems():
            if value >= theshold:
                predict_list.append(key)
                
        f_score += score_f(predict_list, product_list)
    
    f_score /= float(len(train_dict))
    return f_score

In [375]:
cal_result(normal_data, train_user_products_dict, 0.0032)

0.19995515820848808

In [376]:
cal_result(normal_data, train_user_products_dict, 0.0034)

0.1999567086194917

In [378]:
cal_result(normal_data, train_user_products_dict, 0.0035)

0.19995918424112527

In [385]:
test_user_id_list = pd.DataFrame(orders.groupby('eval_set')['user_id'].apply(list))

In [391]:
unique_user_id_list = np.unique(test_user_id_list.user_id['test'])

In [393]:
len(unique_user_id_list)

75000

In [398]:
def predict_result(norm_data, user_id_list, theshold=0.0035):
    result = {}
    for user_id in user_id_list:
        predict_dict = normal_data[user_id]
        predict_list = []
        for key, value in predict_dict.iteritems():
            if value >= theshold:
                predict_list.append(key)
                
        result[user_id] = predict_list
    
    return result

In [399]:
test_result = predict_result(normal_data, unique_user_id_list)

In [404]:
test_order_data = orders.ix[orders['eval_set'] == 'test']

In [405]:
test_order_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [406]:
test_order_data.iteritems()

In [416]:
print_data = []
for x in test_order_data.iterrows():
    order_id = x[1].order_id
    user_id = x[1].user_id
    print_data.append((order_id, test_result[user_id]))

In [419]:
sorted_print_data = sorted(print_data)

In [420]:
sorted_print_data[0]

(17,
 [26429,
  40002,
  16965,
  11494,
  13107,
  39275,
  21709,
  21903,
  18288,
  44056,
  6291,
  47766,
  21463,
  39928,
  38777,
  7035,
  31964,
  15613,
  13535])