In [2]:
import numpy as np
import pandas as pd
import lightgbm as lgb
IDIR = '../data/instacart/'


print('loading prior')
priors = pd.read_csv(IDIR + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading train')
train = pd.read_csv(IDIR + 'order_products__train.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading orders')
orders = pd.read_csv(IDIR + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32})

print('loading products')
products = pd.read_csv(IDIR + 'products.csv', dtype={
        'product_id': np.uint16,
        'order_id': np.int32,
        'aisle_id': np.uint8,
        'department_id': np.uint8},
        usecols=['product_id', 'aisle_id', 'department_id'])

print('priors {}: {}'.format(priors.shape, ', '.join(priors.columns)))
print('orders {}: {}'.format(orders.shape, ', '.join(orders.columns)))
print('train {}: {}'.format(train.shape, ', '.join(train.columns)))

###

print('computing product f')
prods = pd.DataFrame()
prods['orders'] = priors.groupby(priors.product_id).size().astype(np.int32)
prods['reorders'] = priors['reordered'].groupby(priors.product_id).sum().astype(np.float32)
prods['reorder_rate'] = (prods.reorders / prods.orders).astype(np.float32)
products = products.join(prods, on='product_id')
products.set_index('product_id', drop=False, inplace=True)
del prods


print('add order info to priors')
orders.set_index('order_id', inplace=True, drop=False)
priors = priors.join(orders, on='order_id', rsuffix='_')
priors.drop('order_id_', inplace=True, axis=1)

### user features


print('computing user f')
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders.groupby('user_id').size().astype(np.int16)

users = pd.DataFrame()
users['total_items'] = priors.groupby('user_id').size().astype(np.int16)
users['all_products'] = priors.groupby('user_id')['product_id'].apply(set)
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)

users = users.join(usr)
del usr
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)
print('user f', users.shape)

### userXproduct features

print('compute userXproduct f - this is long...')
priors['user_product'] = priors.product_id + priors.user_id * 100000

# This was to slow !!
#def last_order(order_group):
#    ix = order_group.order_number.idxmax
#    return order_group.shape[0], order_group.order_id[ix],  order_group.add_to_cart_order.mean()
#userXproduct = pd.DataFrame()
#userXproduct['tmp'] = df.groupby('user_product').apply(last_order)

d= dict()
for row in priors.itertuples():
    z = row.user_product
    if z not in d:
        d[z] = (1,
                (row.order_number, row.order_id),
                row.add_to_cart_order)
    else:
        d[z] = (d[z][0] + 1,
                max(d[z][1], (row.order_number, row.order_id)),
                d[z][2] + row.add_to_cart_order)

print('to dataframe (less memory)')
userXproduct = pd.DataFrame.from_dict(d, orient='index')
del d
userXproduct.columns = ['nb_orders', 'last_order_id', 'sum_pos_in_cart']
userXproduct.nb_orders = userXproduct.nb_orders.astype(np.int16)
userXproduct.last_order_id = userXproduct.last_order_id.map(lambda x: x[1]).astype(np.int32)
userXproduct.sum_pos_in_cart = userXproduct.sum_pos_in_cart.astype(np.int16)
print('user X product f', len(userXproduct))

del priors

### train / test orders ###
print('split orders : train, test')
test_orders = orders[orders.eval_set == 'test']
train_orders = orders[orders.eval_set == 'train']

train.set_index(['order_id', 'product_id'], inplace=True, drop=False)

### build list of candidate products to reorder, with features ###

def features(selected_orders, labels_given=False):
    print('build candidate list')
    order_list = []
    product_list = []
    labels = []
    i=0
    for row in selected_orders.itertuples():
        i+=1
        if i%10000 == 0: print('order row',i)
        order_id = row.order_id
        user_id = row.user_id
        user_products = users.all_products[user_id]
        product_list += user_products
        order_list += [order_id] * len(user_products)
        if labels_given:
            labels += [(order_id, product) in train.index for product in user_products]
        
    df = pd.DataFrame({'order_id':order_list, 'product_id':product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    del order_list
    del product_list
    
    print('user related features')
    df['user_id'] = df.order_id.map(orders.user_id)
    df['user_total_orders'] = df.user_id.map(users.nb_orders)
    df['user_total_items'] = df.user_id.map(users.total_items)
    df['total_distinct_items'] = df.user_id.map(users.total_distinct_items)
    df['user_average_days_between_orders'] = df.user_id.map(users.average_days_between_orders)
    df['user_average_basket'] =  df.user_id.map(users.average_basket)
    
    print('order related features')
    # df['dow'] = df.order_id.map(orders.order_dow)
    df['order_hour_of_day'] = df.order_id.map(orders.order_hour_of_day)
    df['days_since_prior_order'] = df.order_id.map(orders.days_since_prior_order)
    df['days_since_ratio'] = df.days_since_prior_order / df.user_average_days_between_orders
    
    print('product related features')
    df['aisle_id'] = df.product_id.map(products.aisle_id)
    df['department_id'] = df.product_id.map(products.department_id)
    df['product_orders'] = df.product_id.map(products.orders).astype(np.int32)
    df['product_reorders'] = df.product_id.map(products.reorders)
    df['product_reorder_rate'] = df.product_id.map(products.reorder_rate)

    print('user_X_product related features')
    df['z'] = df.user_id * 100000 + df.product_id
    df.drop(['user_id'], axis=1, inplace=True)
    df['UP_orders'] = df.z.map(userXproduct.nb_orders)
    df['UP_orders_ratio'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_last_order_id'] = df.z.map(userXproduct.last_order_id)
    df['UP_average_pos_in_cart'] = (df.z.map(userXproduct.sum_pos_in_cart) / df.UP_orders).astype(np.float32)
    df['UP_reorder_rate'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_orders_since_last'] = df.user_total_orders - df.UP_last_order_id.map(orders.order_number)
    df['UP_delta_hour_vs_last'] = abs(df.order_hour_of_day - df.UP_last_order_id.map(orders.order_hour_of_day)).map(lambda x: min(x, 24-x)).astype(np.int8)
    #df['UP_same_dow_as_last_order'] = df.UP_last_order_id.map(orders.order_dow) == \
    #                                              df.order_id.map(orders.order_dow)

    df.drop(['UP_last_order_id', 'z'], axis=1, inplace=True)
    print(df.dtypes)
    print(df.memory_usage())
    return (df, labels)
    

df_train, labels = features(train_orders, labels_given=True)

f_to_use = ['user_total_orders', 'user_total_items', 'total_distinct_items',
       'user_average_days_between_orders', 'user_average_basket',
       'order_hour_of_day', 'days_since_prior_order', 'days_since_ratio',
       'aisle_id', 'department_id', 'product_orders', 'product_reorders',
       'product_reorder_rate', 'UP_orders', 'UP_orders_ratio',
       'UP_average_pos_in_cart', 'UP_reorder_rate', 'UP_orders_since_last',
       'UP_delta_hour_vs_last'] # 'dow', 'UP_same_dow_as_last_order'


print('formating for lgb')
d_train = lgb.Dataset(df_train[f_to_use],
                      label=labels,
                      categorical_feature=['aisle_id', 'department_id'])  # , 'order_hour_of_day', 'dow'
del df_train

params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss'},
    'num_leaves': 96,
    'max_depth': 10,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5
}
ROUNDS = 100

print('light GBM train :-)')
bst = lgb.train(params, d_train, ROUNDS)
# lgb.plot_importance(bst, figsize=(9,20))
del d_train

### build candidates list for test ###

df_test, _ = features(test_orders)

print('light GBM predict')
preds = bst.predict(df_test[f_to_use])

df_test['pred'] = preds

TRESHOLD = 0.22  # guess, should be tuned with crossval on a subset of train data

d = dict()
for row in df_test.itertuples():
    if row.pred > TRESHOLD:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in test_orders.order_id:
    if order not in d:
        d[order] = 'None'

sub = pd.DataFrame.from_dict(d, orient='index')

sub.reset_index(inplace=True)
sub.columns = ['order_id', 'products']
sub.to_csv(IDIR + 'sub.csv', index=False)

loading prior
loading train
loading orders
loading products
priors (32434489, 4): order_id, product_id, add_to_cart_order, reordered
orders (3421083, 7): order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order
train (1384617, 4): order_id, product_id, add_to_cart_order, reordered
computing product f
add order info to priors
computing user f
('user f', (206209, 6))
compute userXproduct f - this is long...
to dataframe (less memory)
('user X product f', 13307953)
split orders : train, test
build candidate list
('order row', 10000)
('order row', 20000)
('order row', 30000)
('order row', 40000)
('order row', 50000)
('order row', 60000)
('order row', 70000)
('order row', 80000)
('order row', 90000)
('order row', 100000)
('order row', 110000)
('order row', 120000)
('order row', 130000)
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                     72
order_id                            33898644
product_id                          33898644
user_total_orders                   16949322
user_total_items                    16949322
total_distinct_items                16949322
user_average_days_between_orders    33898644
user_average_basket                 33898644
order_hour_of_day                    8474661
days_since_prior_order              33898644
days_since_ratio                    33898644
aisle_id                             8474661
department_id                        8474661
product_orders                      33898644
product_reorders                    33898644
product_reorder_rate                33898644
UP_orders                           16949322
UP_orders_ratio                     33898644
UP_average_pos_in_cart              33898644
UP_reorder_rate                     33898644
UP_orders_since_last                16949322
UP_delta_hour_vs_last                8474661
dtype: int64
formating for lgb
light GBM train :-)
build candidate list
('order row', 10000)
('order row', 20000)
('order row', 30000)
('order row', 40000)
('order row', 50000)
('order row', 60000)
('order row', 70000)
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                     72
order_id                            19333168
product_id                          19333168
user_total_orders                    9666584
user_total_items                     9666584
total_distinct_items                 9666584
user_average_days_between_orders    19333168
user_average_basket                 19333168
order_hour_of_day                    4833292
days_since_prior_order              19333168
days_since_ratio                    19333168
aisle_id                             4833292
department_id                        4833292
product_orders                      19333168
product_reorders                    19333168
product_reorder_rate                19333168
UP_orders                            9666584
UP_orders_ratio                     19333168
UP_average_pos_in_cart              19333168
UP_reorder_rate                     19333168
UP_orders_since_last                 9666584
UP_delta_hour_vs_last                4833292
dtype: int64
light GBM predict

In [5]:

df_train, labels = features(train_orders, labels_given=True)

build candidate list
('order row', 10000)
('order row', 20000)
('order row', 30000)
('order row', 40000)
('order row', 50000)
('order row', 60000)
('order row', 70000)
('order row', 80000)
('order row', 90000)
('order row', 100000)
('order row', 110000)
('order row', 120000)
('order row', 130000)
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                     72
order_id                            33898644
product_id                          33898644
user_total_orders                   16949322
user_total_items                    16949322
total_distinct_items                16949322
user_average_days_between_orders    33898644
user_average_basket                 33898644
order_hour_of_day                    8474661
days_since_prior_order              33898644
days_since_ratio                    33898644
aisle_id                             8474661
department_id                        8474661
product_orders                      33898644
product_reorders                    33898644
product_reorder_rate                33898644
UP_orders                           16949322
UP_orders_ratio                     33898644
UP_average_pos_in_cart              33898644
UP_reorder_rate                     33898644
UP_orders_since_last                16949322
UP_delta_hour_vs_last                8474661
dtype: int64

In [13]:
df_train.head(n=100)

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,department_id,product_orders,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last
0,1187899,17122,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,4,13880,9377.0,0.675576,1,0.090909,6.000000,0.090909,6,7
1,1187899,196,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,7,35791,27791.0,0.776480,10,0.909091,1.400000,0.909091,1,0
2,1187899,26405,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,17,1214,536.0,0.441516,2,0.181818,5.000000,0.181818,7,1
3,1187899,13032,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,14,3751,2465.0,0.657158,3,0.272727,6.333333,0.272727,1,0
4,1187899,39657,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,19,5019,3846.0,0.766288,1,0.090909,3.000000,0.090909,1,0
5,1187899,12427,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,19,6476,4797.0,0.740735,10,0.909091,3.300000,0.909091,1,0
6,1187899,25133,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,16,6196,4586.0,0.740155,8,0.727273,4.000000,0.727273,1,0
7,1187899,35951,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,16,57895,43875.0,0.757837,1,0.090909,7.000000,0.090909,1,0
8,1187899,38928,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,16,13238,10958.0,0.827769,1,0.090909,4.000000,0.090909,1,0
9,1187899,26088,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,19,2523,1360.0,0.539041,2,0.181818,4.500000,0.181818,9,1
10,1187899,10258,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,19,1946,1389.0,0.713772,9,0.818182,3.333333,0.818182,1,0
11,1187899,49235,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,16,76360,59672.0,0.781456,2,0.181818,3.500000,0.181818,2,8
12,1187899,10326,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,4,5526,3603.0,0.652009,1,0.090909,5.000000,0.090909,6,7
13,1187899,13176,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,4,379450,315913.0,0.832555,2,0.181818,6.000000,0.181818,6,7
14,1187899,30450,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,13,21490,12178.0,0.566682,1,0.090909,5.000000,0.090909,8,4
15,1187899,41787,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,4,35413,23015.0,0.649903,1,0.090909,7.000000,0.090909,6,7
16,1187899,14084,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,16,15935,12923.0,0.810982,1,0.090909,2.000000,0.090909,10,0
17,1187899,46149,11,59,18,19.000000,5.363636,8,14.0,0.736842,...,7,8558,6953.0,0.812456,3,0.272727,3.000000,0.272727,1,0
18,1492625,45066,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,79769,57818.0,0.724818,3,0.200000,11.000000,0.200000,8,1
19,1492625,2573,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,6,1212,480.0,0.396040,2,0.133333,10.500000,0.133333,1,1
20,1492625,18961,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,130,30.0,0.230769,1,0.066667,8.000000,0.066667,6,2
21,1492625,23,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,12,1068,479.0,0.448502,1,0.066667,12.000000,0.066667,7,4
22,1492625,32792,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,1370,791.0,0.577372,9,0.600000,1.222222,0.600000,3,2
23,1492625,22559,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,1,4446,2507.0,0.563878,1,0.066667,24.000000,0.066667,6,2
24,1492625,13351,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,3686,2728.0,0.740098,2,0.133333,10.000000,0.133333,3,2
25,1492625,47144,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,34583,24690.0,0.713935,1,0.066667,1.000000,0.066667,10,0
26,1492625,45613,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,1,5321,2710.0,0.509303,2,0.133333,16.500000,0.133333,6,2
27,1492625,10305,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,9270,4873.0,0.525674,1,0.066667,10.000000,0.066667,3,2
28,1492625,35917,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,7,361,217.0,0.601108,1,0.066667,8.000000,0.066667,14,0
29,1492625,3151,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,7,460,273.0,0.593478,1,0.066667,7.000000,0.066667,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1492625,5907,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,14,550,334.0,0.607273,1,0.066667,7.000000,0.066667,10,0
71,1492625,24852,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,472565,398609.0,0.843501,7,0.466667,4.285714,0.466667,1,1
72,1492625,27413,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,7,2659,1480.0,0.556600,1,0.066667,7.000000,0.066667,1,1
73,1492625,30489,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,20,71314,51690.0,0.724823,1,0.066667,10.000000,0.066667,14,0
74,1492625,7963,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,1,13715,9218.0,0.672111,1,0.066667,16.000000,0.066667,1,1
75,1492625,8479,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,7464,3690.0,0.494373,1,0.066667,3.000000,0.066667,13,1
76,1492625,46886,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,8368,5116.0,0.611377,2,0.133333,9.500000,0.133333,7,4
77,1492625,19240,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,3817,2018.0,0.528687,1,0.066667,8.000000,0.066667,3,2
78,1492625,22825,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,48915,33780.0,0.690586,1,0.066667,6.000000,0.066667,1,1
79,1492625,49451,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,20,1082,431.0,0.398336,1,0.066667,1.000000,0.066667,11,1
80,1492625,22829,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,1186,689.0,0.580944,1,0.066667,7.000000,0.066667,11,1
81,1492625,20785,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,1982,1332.0,0.672048,1,0.066667,14.000000,0.066667,1,1
82,1492625,32052,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,4346,2361.0,0.543258,3,0.200000,5.333333,0.200000,7,4
83,1492625,41787,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,35413,23015.0,0.649903,2,0.133333,16.000000,0.133333,8,1
84,1492625,27966,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,137057,105409.0,0.769089,2,0.133333,10.000000,0.133333,9,2
85,1492625,17224,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,7987,4954.0,0.620258,1,0.066667,3.000000,0.066667,10,0
86,1492625,5450,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,49021,32924.0,0.671631,1,0.066667,17.000000,0.066667,6,2
87,1492625,12258,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,3,3911,2550.0,0.652007,1,0.066667,19.000000,0.066667,3,2
88,1492625,4957,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,20758,15593.0,0.751180,1,0.066667,17.000000,0.066667,9,2
89,1492625,17758,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,9961,5881.0,0.590403,2,0.133333,9.500000,0.133333,7,4
90,1492625,42342,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,20,17332,10343.0,0.596757,1,0.066667,1.000000,0.066667,2,0
91,1492625,42356,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,13,15253,7508.0,0.492231,1,0.066667,18.000000,0.066667,3,2
92,1492625,13176,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,379450,315913.0,0.832555,1,0.066667,12.000000,0.066667,14,0
93,1492625,24954,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,16,11234,8010.0,0.713014,1,0.066667,16.000000,0.066667,9,2
94,1492625,45948,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,3,8564,6296.0,0.735170,1,0.066667,9.000000,0.066667,2,0
95,1492625,36735,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,20,12056,7317.0,0.606918,3,0.200000,9.666667,0.200000,3,2
96,1492625,34688,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,7,2336,1538.0,0.658390,3,0.200000,7.333333,0.200000,7,4
97,1492625,32139,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,20,4712,3213.0,0.681876,4,0.266667,6.000000,0.266667,4,1
98,1492625,16797,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,4,142951,99802.0,0.698155,1,0.066667,1.000000,0.066667,13,1
99,1492625,24990,15,195,102,16.285715,13.000000,11,30.0,1.842105,...,19,42,17.0,0.404762,1,0.066667,11.000000,0.066667,3,2

In [9]:
users.total_items.head()

user_id
1     59
2    195
3     88
4     18
5     37
Name: total_items, dtype: int16

In [10]:
users.head()

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
1,59,"{17122, 196, 26405, 13032, 39657, 12427, 25133...",18,19.000000,11,5.363636
2,195,"{45066, 2573, 18961, 23, 32792, 22559, 13351, ...",102,16.285715,15,13.000000
3,88,"{17668, 39190, 44683, 21903, 14992, 21137, 324...",33,12.000000,13,6.769231
4,18,"{26576, 21573, 17769, 25623, 35469, 37646, 366...",17,17.000000,6,3.000000
5,37,"{11777, 40706, 48775, 20754, 28289, 6808, 1398...",23,11.500000,5,7.400000

In [11]:
products.head()

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
1,1,61,19,1852.0,1136.0,0.613391
2,2,104,13,90.0,12.0,0.133333
3,3,94,7,277.0,203.0,0.732852
4,4,38,1,329.0,147.0,0.446809
5,5,5,13,15.0,9.0,0.600000

In [12]:
userXproduct.head()

             nb_orders  last_order_id  sum_pos_in_cart
14126415872          5         843810               63
20535312385          1        2699553                9
1375731717           7        2844957               51
8959033352           4        1924807               57
7342828204           3         723315               13

In [14]:
train_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
1187899,1187899,1,train,11,4,8,14.0
1492625,1492625,2,train,15,1,11,30.0
2196797,2196797,5,train,5,0,11,6.0
525192,525192,7,train,21,2,11,6.0
880375,880375,8,train,4,1,14,10.0

In [15]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
2539329,2539329,1,prior,1,2,8,NaN
2398795,2398795,1,prior,2,3,7,15.0
473747,473747,1,prior,3,3,12,21.0
2254736,2254736,1,prior,4,4,7,29.0
431534,431534,1,prior,5,4,15,28.0

In [16]:
train_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
1187899,1187899,1,train,11,4,8,14.0
1492625,1492625,2,train,15,1,11,30.0
2196797,2196797,5,train,5,0,11,6.0
525192,525192,7,train,21,2,11,6.0
880375,880375,8,train,4,1,14,10.0

In [17]:
users.head()

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
1,59,"{17122, 196, 26405, 13032, 39657, 12427, 25133...",18,19.000000,11,5.363636
2,195,"{45066, 2573, 18961, 23, 32792, 22559, 13351, ...",102,16.285715,15,13.000000
3,88,"{17668, 39190, 44683, 21903, 14992, 21137, 324...",33,12.000000,13,6.769231
4,18,"{26576, 21573, 17769, 25623, 35469, 37646, 366...",17,17.000000,6,3.000000
5,37,"{11777, 40706, 48775, 20754, 28289, 6808, 1398...",23,11.500000,5,7.400000

In [18]:
products.head()

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
1,1,61,19,1852.0,1136.0,0.613391
2,2,104,13,90.0,12.0,0.133333
3,3,94,7,277.0,203.0,0.732852
4,4,38,1,329.0,147.0,0.446809
5,5,5,13,15.0,9.0,0.600000

In [20]:
result_pred = preds > 0.22
sum(result_pred)

599165