In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
pd.set_option("display.max_columns",101)
RANDOM_STATE = 42

In [2]:
import const

In [5]:
total_train = pd.read_csv(const.TOTAL_TRAIN_DATA)

/Users/coolman/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
total_train.head()

,Unnamed: 0,add_to_cart_order,days_since_prior_order,eval_set,labels,order_dow,order_hour_of_day,order_id,order_number,product_id,reordered,user_id
0,NaN,1.0,9.0,train,1,4.0,10.0,1.0,4.0,49302,1.0,112108
1,NaN,2.0,9.0,train,1,4.0,10.0,1.0,4.0,11109,1.0,112108
2,NaN,3.0,9.0,train,1,4.0,10.0,1.0,4.0,10246,0.0,112108
3,NaN,4.0,9.0,train,1,4.0,10.0,1.0,4.0,49683,0.0,112108
4,NaN,5.0,9.0,train,1,4.0,10.0,1.0,4.0,43633,1.0,112108

In [7]:
train_data = pd.read_csv(const.EXTEND_TRAIN_PATH)

In [8]:
negative_data = pd.read_csv(const.NEGATIVE_TRAIN_DATA)

In [9]:
train_data.shape

(1384617, 10)

In [10]:
negative_data.shape

(7645837, 3)

In [11]:
train_data.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0

In [12]:
negative_data.head()

   Unnamed: 0  user_id  product_id
0           0        1       17122
1           1        1       14084
2           2        1       12427
3           3        1       35951
4           4        1       30450

In [13]:
prior_order = pd.read_csv(const.EXTEND_PRIOR_PATH)
prior_user_product_list_df = prior_order[prior_order.eval_set == 'prior'].groupby(const.UID)[const.PID].apply(set).reset_index().set_index(const.UID)

train_df = pd.read_csv(const.EXTEND_TRAIN_PATH)
train_user_product_list_df = train_df[train_df.eval_set == 'train'].groupby([const.OID, const.UID])[const.PID].apply(
    set).reset_index().set_index(const.UID)

del prior_order

In [15]:
train_df = pd.read_csv(const.EXTEND_TRAIN_PATH)
train_user_product_list_df = train_df[train_df.eval_set == 'train'].groupby([const.OID, const.UID])[const.PID].apply(
    set).reset_index().set_index([const.OID, const.UID])

del train_df

In [16]:
train_user_product_list_df.head()

                                                         product_id
order_id user_id
1        112108   {11109, 10246, 47209, 22035, 43633, 49683, 493...
36       79431    {34497, 46979, 48679, 46620, 19660, 43086, 492...
38       42756    {42625, 39693, 23622, 11913, 28842, 4461, 1815...
96       17227    {40706, 24489, 25610, 39275, 20574, 30391, 27966}
98       56463    {46720, 24964, 4357, 43654, 18441, 36364, 3406...

In [20]:
order_user_product_list = {}
cnt = 0
for order_user_id, train_user_product_list in train_user_product_list_df.iterrows():
    order_id, user_id = order_user_id
    if cnt % 10000 == 1:
        print cnt
    prior_order_product_list = prior_user_product_list_df.ix[user_id][const.PID]

    not_in_clude_in_train_product_list = prior_order_product_list - train_user_product_list[const.PID]
    order_user_product_list[order_user_id] = not_in_clude_in_train_product_list

    cnt += 1

1
10001
20001
30001
40001
50001
60001
70001
80001
90001
100001
110001
120001
130001

In [ ]:
total_len = sum([len(value) for value in order_user_product_list.itervalues()])
output_data = np.zeros((total_len, 3))
cnt = 0
for user_id, product_list in user_product_list.iteritems():
    for product_id in product_list:
        output_data[cnt, 0] = user_id
        output_data[cnt, 1] = product_id
        cnt += 1

new_dataframe = pd.DataFrame(output_data, columns=[const.OID, const.UID, const.PID], dtype="int")